<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>Item List</title>
	</head>
	<body>
		<h1>상품 리스트</h1>
		<a th:href="@{/item/new}">상품 추가하기</a><br>
		
		<div th:each="item: ${items}">
			<img th:src="@{${item.getImgPath()}}"/><br>
			<label>제품명 : </label><br>
			<span th:text="${item.name}"></span>
			<label>제품 가격 : </label><br>
			<span th:text="${item.price}"></span>
			<label>재고 수량 : </label><br>
			<a th:href="@{/item/view/{id}(id=${item.id})}">상세보기</a><br>
			
		<form th:action="@{/cart/add}" method="post"><!--메서드 포스트로 장바구니 담기를 보내줌-->
			<input type="hidden" name="itemId" th:value="${item.id}"/>
			<button type="submit">장바구니 담기</button>
		</form>
		</div>
		
	</body>
</html>